<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->
<link href='/favicon.ico' rel='shortcut icon' type='image/png'>

<!-- end custom head snippets -->

<!-- remove these 2 lines if using other gallery tools or not //-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>

<link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url }}">
