<div class="container d-flex justify-content-between">
  <div class="social-icons">
    {% if site.data.ui-text[site.default_lang].follow_label %}
      <strong>{{ site.data.ui-text[site.default_lang].follow_label }}</strong>
    {% endif %}
    {% if site.data.social.twitter.username %}
      <a href="https://twitter.com/{{ site.data.social.twitter.username }}"><i class="fab fa-twitter-square" aria-hidden="true"></i> Twitter</a>
    {% endif %}
    {% if site.data.social.facebook.username %}
      <a href="https://facebook.com/{{ site.data.social.facebook.username }}"><i class="fab fa-facebook-square" aria-hidden="true"></i> Facebook</a>
    {% endif %}
  </div>
  <span class="text-muted">&copy; {{ site.time | date: '%Y' }} {{ site.data.hotel_settings.name | default: site.data.seo.default_title }}</span>
</div>