---
layout: posts
title: Blog Posts
meta_description:
permalink: /blog/
meta_tags:
  robots:
---

{% comment %}

  Name:

    Blog Posts Page (Listing)

  Description:

    A list of all the blog posts on the site.

  Usage:

    {% assign posts = site.data._models.posts %}
    {% for post in posts %}

      Display a Posts Featured Image
      {% if post.image.url %}
        <a href="/blog/{{ post.url_friendly_name }}/"><img src="{{ post.image.url }}"></a>
      {% endif %}

      Display a Posts Title
      <h1><a href="/blog/{{ post.url_friendly_name }}/">{{ post.title }}</a></h1>

      Display a Posts Category
      {% if post.category %}
        {{ post.category.title }}
      {% endif %}

      Display a Posts Content Excerpt
      {{ post.post_content | strip_html | truncatewords: 40 | remove: "<p>" | remove: "</p>" }}
      <a href="/blog/{{ post.url_friendly_name }}/">Read More</a>

    {% endfor %}

{% endcomment %}
