.owl-theme {
  .owl-nav {
    position: static;    
    .owl-prev, .owl-next {
      color: white;
      text-shadow: 0px 1px 5px #000000;      
      position: absolute;
      top: 50%;
      transform: translateY(-50%);    
      height: 20px;
    }
    .owl-prev {
      left: 5%;
      transform: translateY(-50%) translateX(-50%);  
      @include media-breakpoint-down(md) {
        left: 0;
        transform: translateY(-50%)  translateX(50%);  
      }
    }
    .owl-next {
      right: 5%;
      transform: translateY(-50%)  translateX(50%);  
      @include media-breakpoint-down(md) {
        right: 0;
        transform: translateY(-50%)  translateX(-50%);  
      }

    }
  }
  .owl-dots {
    position: absolute;
    bottom: 45px;
    left: 45px;  
    
    .owl-dot {
      display: inline-block;
      position: relative;
      zoom: 1;
      span {
        background-color: #ffffff;
        margin: 4px 8px;      
        width: 10px;
        height: 10px;
        display: block;
        -webkit-backface-visibility: visible;
        transition: opacity .2s ease;
        border-radius: 30px;
      }
      &.active {
        span {
          width: 16px;
          height: 16px;
          top: 3px;
          margin-right: 5px;
          margin-left: 5px;
          position: relative;
        }
      }
      &.active, &:hover {
        span {
          background-color: $white;  
          width: 16px; //normally 10px
          height: 16px;
          top: 3px;    
          margin-right: 5px;      
          margin-left: 5px;
          position: relative;
        }
        &:after {
          content: "";
          display: block;
          width: 6px;
          height: 6px;
          position: absolute;
          top: 12px;
          left: 10px;
          background-color: $black;
          border-radius: 30px;
        }
      }      
      
    }
  }

}
