@import 'reset';
@import 'variables';


* {
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  padding-top: $nav-height;
  width: 100%;
  font-family: Arial, sans;
}

@import 'nav';
@import 'general';

@import 'home';
@import 'rooms';
@import 'amenities';