
nav {
  background: white;
  z-index: 10000;
  height: $nav-height + 22px;
  position: fixed;
  top: 0; left: 0; right: 0;
  .languages {
    width: 100%;
    padding: 5px 10%;
    font-size: 12px;
    height: 20px;
    line-height: 12px;
    text-align: right;
    a, a:visited, a:hover, a:active {
      text-decoration: none;
      color: $med-blue;
      margin: 0 10px;
    }
  }
  .logo, .menu, .actions {
    float: left;
  }
  .logo {
    width: $nav-height;
    a {
      img {
        padding: 10px;
        height: $nav-height - 20px;
      }
    }
  }
  .menu {
    width: calc(60% - #{$nav-height});
    a, a:visited, a:active {
      float: left;
      margin: 0 0 0 50px;
      text-align: center;
      text-decoration: none;
      color: black;
      line-height: 1em;
      font-size: $nav-height/4;
      padding-top: 3 * $nav-height/8;
    }
  }
  .actions {
    width: calc(40% - #{$nav-height});
    a {
      float: right;
    }
  }
}

