<html>
    <head>
        <title> {{ page.title }} </title>
        <link href="/css/style.css" rel="stylesheet" />
        <script   src="https://code.jquery.com/jquery-2.2.2.min.js"   integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="   crossorigin="anonymous"></script>
        <script src="/assets/js/rt3api.js" type="text/javascript"></script>
        <script src="/assets/js/application.js" type="text/javascript"></script>
    </head>
    <body>
      <nav>
        <div class="languages">
          <a href="{{ page | permalink: locale: 'en' }}">{% t language_name, en %}</a>
          <a href="{{ page | permalink: locale: 'es' }}">{% t language_name, es %}</a>
        </div>
        <div class="logo">
          <a href="{{ '/' | permalink }}"><img src="/assets/images/logo.png" /></a>
        </div>
        <div class="menu">
          <a href="{{ '/rooms-and-suites' | permalink }}">{% t nav.rooms_suites %}</a>
          <a href="{{ '/amenities' | permalink }}">{% t nav.amenities %}</a>
          <!-- <a href="/gallery">{% t nav.gallery %}</a> //-->
        </div>
        <div class="actions">
          <a class="contact button">Contact</a>
          <a class="book-now button">Book Now</a>
        </div>
      </nav>
    
      {{ content }}
    </body>
</html>
